body {
    background: url('../images/money.jpg');
    background-size: cover;
}

.plutus-container-login .plutus-login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    max-height: 45%;
}

@media (max-width: 768px) {
    .plutus-container-login .plutus-login-form {
        height: 40%;
    }
}