.col {
    background-color:rgba(255, 255, 255, 1);
    margin-left: 5px;
}
.table {
    margin: 10px;
    overflow: auto;
}
.transaction-row {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: flex-end;
}

